@font-face {
  font-family: "iconfont"; /* Project id 5214666 */
  src: url('iconfont.woff2?t=1784853509015') format('woff2'),
       url('iconfont.woff?t=1784853509015') format('woff'),
       url('iconfont.ttf?t=1784853509015') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-import:before {
  content: "\e65f";
}

.icon-add:before {
  content: "\e601";
}

.icon-delete:before {
  content: "\e637";
}

.icon-edit:before {
  content: "\e7e1";
}

.icon-down:before {
  content: "\e839";
}

.icon-right:before {
  content: "\e840";
}

.icon-pc:before {
  content: "\e64a";
}

.icon-export:before {
  content: "\e615";
}

